<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DukooTV{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<!--         <link rel="stylesheet" href="{{ asset('css/styles.css') }}" /> -->
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script>
            // thread id
            var fos_comment_thread_id = '309';

            // api base url to use for initial requests
            var fos_comment_thread_api_base_url = '/web/api/threads';

            // Snippet for asynchronously loading the comments
            (function() {
            var fos_comment_script = document.createElement('script');
            fos_comment_script.async = true;
            fos_comment_script.src = '/web/js/35a8e64_comments_1.js';
            fos_comment_script.type = 'text/javascript';

            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);
            })();
        </script>
    </head>
    <body>
        <header>
            <h1>DukooTV</h1>
            <nav>
                <td><a href="/login">Se connecter</a></td>
                <td><a href="/register">S'enregistrer</a></td>
                <td><a href="/">Accueil</a></td>
                <td><a href="/community">Communauté</a></td>
                <td><a href="/ranking">Classements</a></td>
                <td><a href="">Mon Compte</a></td>
            </nav>
            <input type="text" value="rechercher une série"></input>
            <input type="submit" value="">
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    
    </body>
</html>
