<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DukooTV{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script>
            // thread id
            var fos_comment_thread_id = '309';

            // api base url to use for initial requests
            var fos_comment_thread_api_base_url = '/web/api/threads';

            // Snippet for asynchronously loading the comments
            (function() {
            var fos_comment_script = document.createElement('script');
            fos_comment_script.async = true;
            fos_comment_script.src = '/web/js/35a8e64_comments_1.js';
            fos_comment_script.type = 'text/javascript';

            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);
            })();
        </script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="jumbotron">
                    <div>
                        <select name="lang">
                            <option value="fr">FR</option>
                            <option value="en">EN</option>
                        </select>
                    </div>                
                    <h1>DukooTV</h1>
                </div>  
                <div class="row">
                    <nav>
                        <ul class="col-sm-4">
                            <li><a href="/login">Se connecter</a></li>
                            <li><a href="/register">S'enregistrer</a></li>
                        </ul>
                        <ul class="col-sm-8">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/community">Communauté</a></li>
                            <li><a href="/ranking">Classements</a></li>
                            <li><a href="/account">Mon Compte</a></li>
                        </ul> 
                    </nav>
                </div>
            </div>
        <div class="container">
            <input type="text" placeholder="rechercher une série"></input>
            <input type="submit" value="">
        </div>
        </header>
        <div class="container">
            <div class="jumbotron">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>
    </body>
</html>
