body {
	background-color: #f3f2f1;
}

div	select {
	position: absolute;
	top: 0;
	color: black;
}

nav ul li{
	display: inline;
	margin: 5em;
}

nav ul {
	text-align: center;
	background-color: #555555;
}

nav a:link, nav a:visited {
  background-color: #555555;
  color: white;
  padding: 10px 25px;
  text-align: center;	
  text-decoration: none;
  display: inline-block;
  transition: 0.7s;
}

nav a:hover, nav a:active {
	background-color: red;
	transition: 0.2s;
}

.jumbotron {
	background-color: #f3f2f1;
	padding: 0;
}

.langue {
	text-align: right;
	margin-right: 50%;
	color: red;
}