body {
	background-color: #f3f2f1;
}

div	select {
	position: absolute;
	top: 0;
	color: black;
}

nav ul {
	text-align: center;
	background-color: #a2a1a1;

}

nav ul li{
	display: inline;
	margin: 5em;
}

nav a:link, nav a:visited {
	  background-color: #a2a1a1;
    color: white;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

nav a:hover, nav a:active{
	background-color: red;
}

.jumbotron {
	background-color: #f3f2f1;
	padding: 0;
}

.langue {
	text-align: right;
	margin-right: 50%;
	color: red;
}