{% extends "::base.html.twig" %}
{% block title %} Ajouter une série{% endblock %}
{% block body %}
<!-- <h1>Ajouter une série</h1>
<form action="DefaultController.php" method="POST" accept-charset="utf-8">
	Nom de la série:
	<input type="text" name="nameSerie" id="name">
	Résumé de la série:
	<textarea name="summary" id="summary">Entrer le résumé</textarea>
	Pays d'origine :
	<input type="text" name="country" id="countries">
	Poster de la série:
	<input type="file" name="poster" id="poster" >
	
		
</form> -->
{{ form (form)}}
{% endblock %}