{% extends "::base.html.twig" %}
{% block title %} Détail de la  série{% endblock %}
{% block body %}
<h1>Détail de la  série</h1>
<p>Name : {{ serie.name }}</p>
<p>Summary : {{ serie.summary }}</p>
<p>ReleaseDate : {{ serie.releaseDate }}</p>
<p>Country : {{ serie.countries }}</p>
{% endblock %}