{% extends "::base.html.twig" %}
{% block title %} Liste des séries{% endblock %}
{% block body %}
<h1>Liste des séries</h1>
    {% for serie in series %}
        <p><a href={{ path('serie_detail', {id: serie.id}) }}>{{ serie.name }}</a>
            <a href="{{ path('serie_delete', {id: serie.id}) }}">X</a>
            <a href="{{ path('serie_update', {id: serie.id}) }}">Modifier</a>
        </p>
    {% endfor %}
{% endblock %}